.App .master-grid {
  display: grid;
  grid-template-rows: 25vh auto 15vh;
  grid-template-areas:
    "NavBar"
    "MainScreen"
    "Footer";
  text-align: center;
  min-height: 100vh;
}

.App .NavBar {
  grid-area: "NavBar";
}

.App .MainScreen {
  grid-area: "MainScreen";
}

.App .Footer {
  grid-area: "Footer";
}
